body {
    background: url(./Advokatas.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

textcolo .header {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* padding: 16px 40px; */
    align-items: center;
    position: relative;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
}


nav {

    display: flex;
    align-items: center;
}

a:hover {
    color: orange;
    text-decoration: none;
    transition: color 1s, border-bottom 1s;
}

a {
    text-decoration: none;
}

li:hover h2 {
    color: orange;
    transition: color 1s, border-bottom 1s;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    text-decoration: none;
}

.logo {
    display: block;
    margin-left: 10px;
}

li:hover .pict {
    transform: rotatey(360deg);
    transition-duration: 0.6s;
}

a {
    color: black;
}

.contact:hover {
    background-color: orange;
    color: white;
    transition: color 1s, border-bottom 1s;
    text-decoration: none;
}

.contact {
    margin-right: 10px;
    border: 2px solid orange;
    /* background-color: orange; */
    border-radius: 20px;
    padding: 10px 20px;
    color: orange;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;


}

.pagrindinis {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    h1 {
        font-weight: 900;
    }
}


.Read:hover {
    transition: color 1s, border-bottom 1s;
    background-color: black;
    color: white;
    border-color: black;
    text-decoration: none;
}


.Read {
    border: 2px solid orange;
    padding: 10px 20px;
    background-color: orange;
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: background-color 0.1s, color 0.1s;
}

.body {
    border: 2px soid black;
}

.paveikslas {
    width: 100%;
    height: clamp(17.5rem, 58.6vw, 31.875rem);
    margin-bottom: clamp(1rem, 2vw, 1.25rem);
    display: block;
    position: relative;

}

.paveikslas img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2.5rem;
    position: absolute;
}

.korteles {
    /* width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: clamp(1rem, 2vw, 1.25rem);
    justify-content: center;
    padding: 0; */
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 100%;
    gap: clamp(1rem, 2vw, 1.25rem);
    justify-content: center;
}

.korta {
    text-align: center;
    list-style: none;
    padding: clamp(1.5rem, 3vw, 2rem);
    background-color: #f7f7f7;
    border-radius: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: span 3;
    transition: border-color 0.3s;
    align-items: flex-start;
    text-align: start;
    text-justify: cover;



}

.korta img {
    height: 40px;
    padding-top: 10px;
}

.text {
    text-align: center;
}

@media (max-width: 600px) {
    .korteles {
        display: flex;
        flex-direction: column;
        width: auto;
        margin-right: 10px;
    }

}

.Forma {
    border: 1px, solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: orange;
}

.send {
    flex: none;
}

input {
    max-width: 200px;

}

footer {
    margin: 10px;
}


h1 {
    color: red;
}

div {
    border: 1px, solid, red;
    text-align: center;
}

.susisiekime {
    border: 1px, solid;
    width: 150px;
    text-align: center;
    background-color: rgb(247, 242, 242);
    text-decoration-line: none;
    border-radius: 15px;
}

.top_line {
    display: flex;
    padding-inline: 10px;

}

li {
    text-decoration: color (white);
}